@model EcommerceSite.Models.ErrorViewModel;
@{
    ViewData["Title"] = "Error";
    Layout = null;
}


<h1>Error Request</h1>

<a asp-action="Index" asp-controller="Home" class="btn btn-danger">Back To Home</a>
